*{
    margin:auto;
    padding: 5px;
    font-family: sans-serif;
}
.container{
   width:210vh;
    height:170vh;
    margin: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("banner4.jfif");
    background-position: center;
    background-size:cover;
    padding-top: 2%;
    padding: bottom 20px;;

}
.logo{
    float: left;
    height: 100;
    width:130px;
    align-items: center;
    justify-content: space-between;
}

ul{
    float:right;
    list-style-type: none;
}

ul li{
    display:inline-block;
}

ul li a{
    text-decoration:solid;
    color:aliceblue;
    padding:5px 20px;
    border:1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color:#fff;
    color: black;
}

ul li.active a{
    background-color:#fff;
    color: black;
}

.navbar{
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    height:70%;
    align-items: center;
}

.col{
    font-family: 'Franklin Gothic Medium';
    color:aqua;
    font-size: larger;
}

h1{
    color: #fff;
    font-size: 80px;

}

p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}



.card{
    width:200px;
    height:230px;
    display:inline-flex;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
}

.card1{
    background-image: url(pottery.jfif);
    border: #999;
    height: 200px;
    width:250px;
    
}

.card2{
    background-image: url(landscape.jfif);
    height: 200px;
    width:250px;
    align-items: center;
}

.button{
    position:absolute;
    color:black;
    font-size: 12px;
    padding: 10px;
    background: #fff;
    border-radius:12px;
    top: 600px;
    left:250px;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding:10px,30px;
    color:#000;
    text-decoration: none;
    left:200px;
}
.btn:hover{
    background-color:#a8c8d3;
    color: black;
}
.card hover{
    transform:translateY(-10px);
}

h5{
    color:#fff;
    text-shadow:0 0 5px #999;
}

.card p{
    text-shadow:0 0 15px #000;
    font-size:8px;
}